div
  h2
    span Parameters
    .add-param(tabindex=0, x-ng-click="addParam()", app-endpoints-details-toc-anchor="Parameters")
      i.fa.fa-plus
  div.app-epd-params
    div(ng-show="endpoint.operation.parameters.length")
      table
        thead
          tr
            th name
            th type
            th placement
            th required
            th.description description
            th.valid-values valid values
            th
        tbody
          tr(x-ng-repeat="param in endpoint.operation.parameters | orderBy:'param.name'")
            td
              div(data-tribe-singleselect,
                data-editable="true",
                data-selected-option="param.name",
                data-available-options="['Authorization', 'Date', 'Content-Type', 'Accept']")
            td
              div(data-tribe-singleselect,
                data-selected-option="param.type",
                data-available-options="['integer', 'long', 'float', 'double', 'string', 'byte', 'binary', 'boolean', 'date', 'dateTime', 'password']")
            td
              div(data-tribe-singleselect,
                  data-selected-option="param.in",
                  data-available-options="[{text:'Query', value:'query'}, {text:'Header', value:'header'}, {text:'Path', value:'path'}, {text:'Form data', value:'formData'}, {text:'Body', value:'body'}]")
            td
              div(data-tribe-singleselect,
                  data-selected-option="param.required",
                  data-available-options="[{text: 'Yes', value: true}, {text: 'No', value: false}]")
            td.description
              div
                div(data-tribe-markdown, data-value="param.description")
            td.valid-values
              div
                div(data-tribe-markdown, data-value="param.sampleValues")
            td
              div
                i.fa.fa-trash-o(x-ng-click="removeParam(param);")
