div
  .title
    h1
      div(data-tribe-singleselect,
        data-placeholder="Verb"
        data-disable-actions="true",
        data-on-edit-mode-on="onEditModeOn(uniqueId)",
        data-on-edit-mode-off="onEditModeOff(uniqueId)",
        data-available-options="[{text:'DELETE', value:'delete'}, {text:'HEAD', value:'head'}, {text:'GET', value:'get'}, {text:'OPTIONS', value:'options'}, {text:'POST', value:'post'}, {text:'PUT', value:'put'}, {text:'PATCH', value:'patch'}]",
        data-selected-option="endpoint.httpMethod")
      div(data-tribe-text,
        data-on-edit-mode-on="onEditModeOn(uniqueId)",
        data-on-edit-mode-off="onEditModeOff(uniqueId)",
        data-regex="{{regex}}", data-regex-tip="{{regexTip}}", data-value="endpoint.path", data-placeholder="Path")
  div(data-tribe-markdown,
    data-on-edit-mode-on="onEditModeOn(uniqueId)",
    data-on-edit-mode-off="onEditModeOff(uniqueId)",
    data-value="endpoint.operation.description", data-placeholder="Description")
  div(data-app-endpoints-details-see, data-endpoint="endpoint",
    data-on-edit-mode-on="onEditModeOn(uniqueId)",
    data-on-edit-mode-off="onEditModeOff(uniqueId)")
  .resourceUrl(x-ng-if="resourceUrl")
    h2(app-endpoints-details-toc-anchor="Resource URL") Resource URL
    div
      i(data-tribe-editable-option,
        data-on-edit-mode-on="onEditModeOn(uniqueId)",
        data-on-edit-mode-off="onEditModeOff(uniqueId)",
        data-value="endpoint.endpointProtocol", data-options="['http', 'https']")
      span ://
      a(x-ng-href="{{ endpoint.endpointProtocol + '://' + resourceUrl}}") {{resourceUrl}}
