div(tabindex=0)
    div(data-tribe-multiselect-selected,
        data-selected-options="selectedOptions",
        data-on-select-top-down-option="onSelectTopDownOption()",
        data-on-select-bottom-up-option="onSelectBottomUpOption()",
        data-on-options-deactivated="onOptionsDeactivated()",
        data-on-commit="fieldCommitted()",
        data-on-cancel="fieldCanceled()",
        data-on-change="fieldChanged()",
        data-selected-option="selectedOption",
        data-input-text="inputText"
    )
    div(data-tribe-multiselect-available,
        data-active="optionsActivated",
        data-active-top-down="optionsActivatedTopDown",
        data-active-bottom-up="optionsActivatedBottomUp",
        data-selected-options="selectedOptions",
        data-selected-option="selectedOption",
        data-available-options="availableOptions",
        data-input-text="inputText",
        data-new-label="{{newLabel}}",
        data-get-option-text="getOptionText"
    )
    div(data-tribe-field-actions,
        data-version="version",
        data-active="fieldDirty",
        data-on-confirm="fieldCommitted()",
        data-on-cancel="fieldCanceled()"
    )
